language: node_js
node_js:
  - 11

dist: trusty
sudo: false
cache: yarn

branches:
  only:
    - production
    - master

stages:
  - name: Test
  - name: Report
    if: NOT branch = production
  - name: Danger
    if: NOT branch = production
  - name: Deploy
    if: branch = production AND type = push

jobs:
  include:
    - stage: Test
      script: yarn test
    - stage: Report
      script: yarn report
    - stage: Danger
      script:
        - yarn danger ci
      script: yarn report
    - stage: Deploy
      script: skip
      before_deploy:
        - npm install netlify-cli -g
        - yarn build

      deploy:
        provider: script
        script: netlify deploy -s $NETLIFY_SITE_ID --auth $NETLIFY_PUBLISH_KEY -p --dir ./dist
        skip_cleanup: true
        on:
          branch: production
